@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #16a34a;
  --background: #0f172a;
  --cardBackground: #1e293b;
  --inputBackground: #334155;
  --text: #ffffff;
  --extSecondary: #94a3b8;
  --disabled: #334155;
}
